# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
*.dist-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.env
.env.*
test_embed.py
test_extract.py
*.onnx
*.onnx.data
*.tex
# Build artifacts
build/
dist/
*.whl

presentions/
only_rust/

# Data / outputs
lance_db/
lancedb/
pdfs/
data/~
*.pdf
*.log
*.db
*.sqlite3
*.txt
.rag_cache.json
*.csv
*.npz
.fastembed_cache
profiling
benchmarks
logs
eval_logs
*.rar
/pdfs_lock
/data
/safe
.jpg
.rag_cache.json
*.md
# Rust
rag_rust/target/
**/target/
extracted_images_with_context
smart_chunk.rs
*.lock

# Editors / OS
.vscode/
.idea/
.DS_Store

